<h1>管理者ページ</h1>
<div class="text-center">
	<h4>お問い合わせ</h4>
	<table class="table">
		<thead>
			<tr>
				<th>名前</th>
				<th>内容</th>
			</tr>
		</thead>
		<tbody>
			<% @inquiries.each do |inquiry| %>
			<tr>
				<td>
					<%= link_to inquiry.customer.name ,admins_customer_path(inquiry) %>
				</td>
				<td>
					<%=link_to inquiry.request, admins_inquiry_path(inquiry)  %>
				</td>
				<td>
					<% if inquiry.unsolved == true %>
					<p>未解決</p>
					<% else %>
					<p>解決</p>
					<% end %>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>

<div class="text-center
">
	<h5><%= link_to "過去のお問い合わせ",admins_inquiries_path %></h5>
	<h3>運営からのお知らせフォーム</h3>
	<%= form_for(@contact,url:admins_update_contacts_path) do |f| %>
		<%=f.text_area :contact ,size: "50x7"%><br>
		<%= f.submit "更新" %>
	<% end %>
</div>