<h1>回答</h1>
	<%= @gest_inquiry.gest_request %>
<div class="gest_inq">
	<%= render "admins/gest_inquiries/gest_inq_edit",inquiry: @gest_inquiry %>
</div>
<%= form_for(@gest_answer,url:admins_gest_answers_path) do |f| %>
	<%= f.text_area :gest_answer %>
	<%= f.hidden_field :gest_inquiry_id ,:value =>@gest_inquiry.id %>
	<%= f.submit "送信" %>
<% end %>