<div class="text-center">
	<h1 style="color:  #01b8be">問い合わせページ</h1>
	<p class="notice"><%= flash[:notice] %></p>
	<%= form_for(@gest_inquiry) do |f| %>
		<%= f.text_area :gest_request ,:placeholder =>"問い合わせ内容を記述してください",size: "50x5" %><br>
		<%= f.hidden_field :unsolved %>
			<p>会員登録されている方は<%= link_to "こちらから",customer_session_path %>ログインして下さい。</p>
			<p>会員でない方は以下のフォームに入力をお願いします。</p>
				<p><%= f.text_field :gest_name, :placeholder =>"お名前" %></p>
				<p><%= f.text_field :gest_email, :placeholder =>"メールアドレス" %></p>
		<p><%= f.submit "送信", class:"btn btn-info" %></p>
	<% end %>
</div>
