<h1>会員編集画面</h1>
	<%= form_for(@customer,url:admins_customer_path(@customer)) do |f| %>
		<%= f.text_field :name %>
		<%= f.attachment_field :profile_image %>
		<%= f.text_field :email %>
		<% if @customer.deleted_at.nil? %>
		<%= f.radio_button :deleted_at ,true,checked:true %>
		<%= label_tag :deleted_at, "有効" %>
		<%= f.radio_button :deleted_at ,false %>
		<%= label_tag :deleted_at, "退会" %>
		<% else %>
		<%= f.radio_button :deleted_at, true %>
		<%= label_tag :deleted_at,"有効" %>
		<%= f.radio_button :deleted_at, false, checked:true %>
		<%= label_tag :deleted_at, "退会" %>
		<% end %>
		<%= f.submit "変更",class:"btn btn-primary" %>
		<% end %>