<table class="table">
		<thead>
		<tr>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% customers.each do |customer| %>
		<tr>
			<td>
				<%= attachment_image_tag customer,:profile_image, :fill,20,20,class: " pull-left profile-thumb",fallback: "no_image.jpg", :width => "20", :height => "20" %>
			</td>
			<td>
				<span><%= customer.name %></span>
			</td>
			<td>
				話題数:<%=link_to customer.topicks.count,topicks_path(customer_id: customer.id) %>
			</td>
			<td>
				フォロー数：<%= customer.followings.count %>
			</td>
			<td>
				フォロワー数：<%= customer.followers.count %>
			</td>
			<td>
				<%= render "relationships/follow" ,customer: customer %>
			</td>
			<td>
				<%=link_to "詳細",customer_path(customer)%>
			</td>
		</tr>
		<% end %>
	</tbody>
	</table>