<div class="text-center">
	<h1 style="color: #01b8be">マイページ</h1>
</div>

<div class="text-center">
	<%= attachment_image_tag @customer, :profile_image, :fill,250, 150, format: "jpeg" %><br>
	<span>名前:<%= @customer.name %></span><br>
	<span>ニックネーム:<%= @customer.public_name %></span>
	<p>自己紹介</p>
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">
			<div><%=@customer.self_introduction %></div>
		</div>
	</div>
</div>

<div class="col-xs-6 text-center">
	<h4><%= link_to "投稿した話題" ,topicks_path(customer_id: @customer.id) %></h4>
	<table class="table">
		<% @customer.topicks.first(2).each do |topick| %>
		<tr>
			<td>
				<%= link_to topick.created_at.to_s(:datetime_jp) %>
			</td>
		</tr>
		<% end %>
	</table>
</div>

	<div class="col-xs-6">
		<h4 style="color: #fff">l</h4>
		<table class="table">
			<tr>
			</tr>
			<tr>
				<th>
					フォロー
				</th>
				<td>
					<%=link_to @customer.followings.count, follow_customer_path(@customer)%>
				</td>
			</tr>
			<tr>
				<th>
					フォロワー
				</th>
				<td>
					<%=link_to @customer.followers.count, follower_customer_path(@customer) %>
			</tr>
		</table>
	</div>
	<div class="row">
		<div class="text-center well" style="background-color: #fff">
		<span class="btn btn-success"><%= link_to "話題新規投稿", new_topick_path %></span>
		<% if @customer.id == current_customer.id %>
		<span class="btn btn-info"><%= link_to "プロフィール編集", edit_customer_path(@customer) %></span>
		<span class="btn btn-danger"><%= link_to "退会ページ", withdraw_customer_path(@customer) %>
		</span>
		<else>
		<% end %>
		</div>
	</div>

	<div class="text-center"><%= render "relationships/follow", customer: @customer %></div>
	<% if current_customer == @customer %>
		<p class="btn inqbtn"><a>管理者からの回答</a></p>
		<table class="inquiry table">
			<thead>
				<tr>
					<th>問い合わせ内容</th>
					<th>回答</th>
				</tr>
			</thead>
			<tbody>
				<% @inquiry.each do |inquiry| %>
				<tr>
					<td>
						<%= inquiry.request %>
					</td>
					<td>
						<%= inquiry.answer&.answer %>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
	<% end %>
