<h1>Topicks#show</h1>
<p>Find me in app/views/topicks/show.html.erb</p>
<p>話題名
<%= @topick.topick_name %></p>
<% @topick.topick_images.each do |image| %>
<%= attachment_image_tag image, :topick_image, :fill, 50,50, format: "jpeg" %>
<% end %><br>
<p>内容
<%= @topick.introduction %></p>

<%= render "topicks/topick_like", topick: @topick %>
<% if @topick.customer == current_customer %>
	<%= link_to "編集する", edit_topick_path(@topick), class:"btn btn-info" %>
	<% else %>
	<% end %>

	<h3>コメント一覧</h3>

<div id="js-comments">
	<%= render "topicks/topick_comment", topick_comment: @topick.comments %>
</div>

<h3>コメント投稿</h3>
<div>
	<%= form_with(model:[@topick, @comment]) do |f| %>
		<%= f.attachment_field :image %>
		<%= f.text_area :comment %>
		<%= f.submit "コメント投稿", class:"btn btn-info" %>
	<% end %>
</div>
