<div class="main-top">
	<p class="notice"><%= flash[:notice] %></p>
	<div class="main-contents">
		<h1 class="toph1"><b>ようこそ</b></h1>
		<h4 class="toph2"><b>あなただけのお話聞かせてくれませんか？</b></h4>
		<h3><span class="toph3"><b>SukiSp</b></span><span class="toph4">はあなたのお話を待っています。</span></h3>
	</div>
	<div class="theTarget">
		<div class="main1"></div>
		<div class="main2"></div>
		<div class="main3"></div>
		<div class="main4"></div>
	</div>
	<div class="main1"></div>
</div>

	<div class="big-box" style="background-color: #f0ffff">
	<div class="row">
		<div class="col-xs-offset-2 col-xs-8">
			<div class="admin-contact">
				<p style="text-decoration: underline">運営からのお知らせ</p>
				<table class="table"style="overflow-y: auto ">
					<% @contacts.each do |contact| %>
					<tr >
						<td>
						<%= contact.created_at.to_s(:datetime_jp) %>
						</td>
						<td>
						<%= contact.contact %>
						</td>
					<% end %>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<div class="second-main row">
		<div class="topick-box col-xs-10 col-xs-offset-1">
			<div class="day-topiick  ">
				<div class=" text-center panel-header" style="font-size: 20px;">最近の話題</div>
				<% @recently_topicks.first(5).each do |recently| %>
				<%= link_to topick_path(recently),:style =>"color:#000" do %>
				<table class="table table-hover" style="overflow-y: auto ">
					<tbody>
						<tr>
							<td class="col-xs-3">
								<%= recently.created_at.to_s(:datetime_jp) %>
							</td>
							<td class="col-xs-2">
								<%= recently.genre.genre_name %>
							</td>
							<td class="col-xs-7">
								<span style="text-decoration: underline;"><%= recently.topick_name %></span>
							</td>
						</tr>
					</tbody>
				</table>
				<% end %>
				<% end %>
				<%= link_to "その他の話題はこちらへ",topicks_path %>
			</div>
		</div>
	</div>

	<div class="main text-center">
		<span class="main-font"><%= link_to "話題を投稿しましょう",new_topick_path ,:style => "color:red;"%></span>
	</div>
	<marquee behavior="scroll">
		こんにちは
	</marquee>
</div>

<div class="text-center news-line" >
	<h1>話題のニュース</h1>
	<div class="row">
		<%= form_tag(root_path, method: :get) do %>
			<%= select_tag "search[country]",options_for_select({"アメリカ"=>"us","日本"=>"jp"}) %>
			<%= submit_tag "検索" %>
		<% end %>
		<div class="news" style="overflow-y: auto ">
			<% @response["articles"].shuffle.each do |a| %>
			<div class="col-xs-6">
	  			<div class="box">
	  				<% unless a["urlToImage"] == nil %>
	  				<%= image_tag a["urlToImage"], :size => "180x110",fallback:"no image.png",size:"180x110"%><br>
	  				<% else %>
	  				<%= image_tag "no image.png",:size => "180x110" %><br>
	  				<% end %>
				  	<%= link_to a["url"] do %>
				  	<%= a["title"].truncate(45)  %>
				  <% end %><br>
				  <%= a["publishedAt"] %>
				</div>
			</div>
			<% end %>
		</div>
	</div>
</div>
