<header class="navbar navbar-fixed-top header-top" style="background-color:#fafafa ">
	<div class="container">
		<div class="text-center">
			<% if admin_signed_in? %>
				<h4><%=link_to top_admins_topicks_path do %>
					<%= image_tag "img/sukisplogo.png",:size =>"160x50" %>
					<% end %>
				</h4>
				<% else %>
				<h4><%=link_to root_path do %>
					<%= image_tag "img/sukisplogo.png",:size =>"160x50" %>
					<% end %></h4>
				<% end %>
		</div>
  		<nav>
				<ul class="nav navb-tabs nav-justified ">
				<% if admin_signed_in? %>
					<li><%= link_to "ジャンル一覧", admins_genres_path %></li>
					<li><%= link_to "話題一覧", admins_topicks_path %></li>
					<li><%= link_to "会員一覧",admins_customers_path %></li>
					<li><%= link_to "ログアウト",destroy_admin_session_path,method: :delete %></li>
				<% elsif customer_signed_in? %>
					<li><%= link_to "ジャンル", genres_path %>
					</li>
					<li><%= link_to "話題", topicks_path %></li>
					<li><%= link_to "マイページ", current_customer %></li>
					<li><%= link_to "ログアウト",destroy_customer_session_path, method: :delete %>
					</li>
					<% else %>
					<li class="toph1"><%= link_to "ジャンル", genres_path %>
					</li>
					<li><%= link_to "話題", topicks_path %>
					</li>
					<li><%= link_to "ログイン | 新規登録", new_customer_session_path %>
					</li>
					<li><%= link_to "アバウトページ",about_topicks_path %> </li>
				<% end %>
			</ul>
		</nav>
		<div class="text-right">
			<% if customer_signed_in? %>
				<span>ログインしています。ニックネーム：<%= current_customer.public_name %></span>
			<% else %>
					<span></span>
			<% end %>
		</div>
	</div>
</div>
</div>
</header>